/* 共通ボタン
***************************************************************/
.c-button {
  height: 4.8rem;
  border-radius: 100vmax;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: 0em;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: flex-end;
  width: 16.2rem;
  padding-inline: 1.2rem;
  background: #EA526F;
  border: 0.2rem solid transparent;
}
@media screen and (max-width: 767px) {
  .c-button {
    font-size: 1.4rem;
  }
}
.c-button::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/icon_button-arrow--white.webp) no-repeat center center/contain;
}
@media (any-hover: hover) {
  .c-button:hover {
    opacity: 0.7;
  }
}

.c-button__header {
  height: 4.8rem;
  border-radius: 100vmax;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: 0em;
  white-space: nowrap;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.8rem;
  padding-inline: 1.2rem;
  background: #EA526F;
  border: 0.2rem solid transparent;
}
@media screen and (max-width: 767px) {
  .c-button__header {
    font-size: 1.4rem;
  }
}
@media (any-hover: hover) {
  .c-button__header:hover {
    opacity: 0.7;
  }
}

.c-button__header--frame {
  height: 4.8rem;
  border-radius: 100vmax;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: 0em;
  white-space: nowrap;
  color: #0098BB;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.6rem;
  padding-inline: 1.2rem;
  background: #ffffff;
  border: 0.2rem solid #0098BB;
}
@media screen and (max-width: 767px) {
  .c-button__header--frame {
    font-size: 1.4rem;
  }
}
@media (any-hover: hover) {
  .c-button__header--frame:hover {
    background: #0098BB;
    color: #ffffff;
  }
}

.c-button__fv {
  height: 4.8rem;
  border-radius: 100vmax;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: 0em;
  white-space: nowrap;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 1.8rem;
  justify-content: flex-end;
  width: 19rem;
  padding-inline: 1.6rem;
  background: #EA526F;
  border: 0.2rem solid transparent;
}
@media screen and (max-width: 767px) {
  .c-button__fv {
    font-size: 1.4rem;
  }
}
.c-button__fv::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/icon_button-arrow--white.webp) no-repeat center center/contain;
}
@media (any-hover: hover) {
  .c-button__fv:hover {
    opacity: 0.7;
  }
}
@media screen and (max-width: 767px) {
  .c-button__fv {
    width: 16.15rem;
    height: 5.6rem;
    justify-content: center;
  }
  .c-button__fv::after {
    display: none;
  }
}

.c-button__fv--frame {
  height: 4.8rem;
  border-radius: 100vmax;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: 0em;
  white-space: nowrap;
  color: #0098BB;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: flex-end;
  width: 19rem;
  padding-inline: 1.6rem;
  background: #ffffff;
  border: 0.2rem solid #0098BB;
}
@media screen and (max-width: 767px) {
  .c-button__fv--frame {
    font-size: 1.4rem;
  }
}
.c-button__fv--frame::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/icon_button-arrow--blue.webp) no-repeat center center/contain;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .c-button__fv--frame:hover {
    background: #0098BB;
    color: #ffffff;
  }
  .c-button__fv--frame:hover::after {
    background: url(../img/icon_button-arrow--white.webp) no-repeat center center/contain;
  }
}
@media screen and (max-width: 767px) {
  .c-button__fv--frame {
    width: 16.15rem;
    height: 5.6rem;
    justify-content: center;
  }
  .c-button__fv--frame::after {
    display: none;
  }
}

.c-button__large {
  height: 4.8rem;
  border-radius: 100vmax;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: 0.03em;
  white-space: nowrap;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 3.95rem;
  justify-content: flex-end;
  width: 27.5rem;
  padding-inline: 1.6rem;
  background: #EA526F;
  border: 0.2rem solid transparent;
}
@media screen and (max-width: 767px) {
  .c-button__large {
    font-size: 1.4rem;
  }
}
.c-button__large::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/icon_button-arrow--white.webp) no-repeat center center/contain;
}
@media (any-hover: hover) {
  .c-button__large:hover {
    opacity: 0.7;
  }
}

.c-button__large--frame {
  height: 4.8rem;
  border-radius: 100vmax;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: -0.03em;
  white-space: nowrap;
  color: #0098BB;
  display: flex;
  align-items: center;
  gap: 3.95rem;
  justify-content: flex-end;
  width: 27.5rem;
  padding-inline: 1.2rem;
  background: #ffffff;
  border: 0.2rem solid #0098BB;
}
@media screen and (max-width: 767px) {
  .c-button__large--frame {
    font-size: 1.4rem;
  }
}
.c-button__large--frame::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/icon_button-arrow--blue.webp) no-repeat center center/contain;
}
@media (any-hover: hover) {
  .c-button__large--frame:hover {
    background: #0098BB;
    color: #ffffff;
  }
  .c-button__large--frame:hover::after {
    background: url(../img/icon_button-arrow--white.webp) no-repeat center center/contain;
  }
}